.benefits
  font-family Gotham
  font-size calc(1.5rem + 1vw)
  text-align center
  max-width 80%
  margin 1.5em auto 0

  &-offer--text, &-offer--title
    @extend .benefits
    max-width 50%
    @media all and (max-width: 440px)
      max-width 70%
  &-offer--title
    margin 0 auto
    padding-top 0.5em
  &-offer--text
    font-size calc(0.6rem + 0.8vw)
    margin 3em auto


.flex
  &-row
    display flex
    flex-direction row
    width 70%
    margin 0 auto
    flex-wrap wrap

    @media all and (max-width: 768px)
      width 90%

    @media all and (max-width: 440px)
      width 70%
      flex-direction column

  &-item
    width calc(100%/3)
    padding 0 2em
    position relative
    &:before
      position absolute
      top calc(0.7em - 1vw)
      user-select none
      left 50%
      z-index -1
      transform translate(-50%,0 )
      content attr(data-number)
      font-size calc(2em + 4vw)
      font-family "Gotham Bold"
      color #eee

    @media all and (max-width: 992px)
      padding 0 0.5em

    @media all and (max-width: 440px)
      padding 0
      margin-top 2em
      width 100%
      &:first-child
        margin-top 0

.item
  &--header
    font-family "Gotham Bold"
    margin 1.3em 0
    font-size calc(1em + 0.2vw)
    text-align center
  &--content
    text-align center
    font-size calc(0.8em + 0.4vw)