.radio-item
  @extend .flex-item
  width auto
  flex-basis 0
  flex-grow 1

.radio-container
  display flex
  flex-direction row
  & label
    display block
    align-self center
    padding-left 0.5em
  & input
    width 20px
    height 20px
    align-self center

.submit-field
  @extend .flex-row
  width 60%
  margin-top 2em
  @media all and (max-width: 440px)
    width 100%

.input
  &-email
    border none
    outline none
    background #eee
    padding 0 2em
    border-radius 0.5em 0 0 0.5em
    flex-basis 0
    flex-grow 4
    @media all and (max-width: 440px)
      padding 1em 1em
      border-radius 0
    &::placeholder
      text-transform uppercase
  &-submit
    flex-grow 1
    flex-basis 0
    border none
    outline none
    font-family "Gotham Bold"
    background-color #efe44b
    padding 1em 2em
    border-radius 0 0.5em 0.5em 0
    font-size calc(0.7rem + 0.5vw)
    transition background 0.5s
    @media all and (max-width: 440px)
      padding 2em
      align-self left
      border-radius 0 0 0.5em 0

    &:hover
      cursor pointer
      background #dbcf2e