.promo
  background url('./img/promo.png') center center no-repeat
  background-size cover
  font-family Gotham
  position relative
  &-logo
    position absolute
    top 1.5em
    left 5em
    @media all and (max-width: 768px)
      width 150px
      top 1em
      left 2em
  &-container
    width 70%
    margin 0 auto
    padding calc(4em + 3vw) 0 calc(2em + 3vw)
  &-text
    font-size calc(0.7rem + 0.5vw)
    line-height 2
    color darken(white, 10%)
    width 22em
    margin-bottom 2em
  &-header
    font-size calc(2rem + 1.5vw)
    color white
    max-width 10em
    line-height 0.8
    margin-bottom 1em
  &-button
    border none
    outline none
    font-family "Gotham Bold"
    background-color #efe44b
    padding 1em 2em
    border-radius 0.5em
    font-size calc(0.5rem + 0.5vw)
    animation button-pulse 1s ease-in-out 1s alternate 2
    transition background 0.5s
    &:hover
      cursor pointer
      background #dbcf2e

@keyframes button-pulse
  from
    transform scale(1)
  to
    transform scale(1.2)