.timer
  text-align center
  font-size calc(1.5rem + 4vw)
  font-family Gotham
  &__out, &__warn
    color red

.nav-container
  @extend .flex-row
  margin-top 3em
  width 100%

.nav-item
  @extend .flex-item
  padding 1em
  width calc(100%/4)
  font-size calc(0.7em + 0.4vw)
  @media all and (max-width: 440px)
    padding 0
    width 100%
  & a
    text-decoration none
    color black
    transition color 0.5s
    &:hover
      color blue